[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "==2.3.3"
imageio = "==2.37.0"
moviepy = "==2.2.1"

[dev-packages]

[requires]
python_version = "3.13"
